Repository Automattic/wordpress-rs, pull requests merged in 2024-11, with the labels that each got.

#375 Pagination support for `/users`
  Cargo.lock
  native/kotlin/api/kotlin/src/integrationTest/kotlin/UsersEndpointTest.kt
  wp_api/Cargo.toml
  wp_api/src/lib.rs
  wp_api/src/request.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/users_endpoint.rs
  wp_api/src/unit_test_common.rs
  wp_api/src/url_query.rs
  wp_api/src/users.rs
  wp_api_integration_tests/tests/test_users_immut.rs
  wp_derive_request_builder/src/generate.rs
  wp_derive_request_builder/src/generate/helpers_to_generate_tokens.rs
  wp_derive_request_builder/src/lib.rs
  wp_derive_request_builder/src/parse.rs
  wp_derive_request_builder/src/variant_attr.rs
  wp_derive_request_builder/tests/fail/contextual_paged_missing_params_type.rs
  wp_derive_request_builder/tests/fail/contextual_paged_missing_params_type.stderr
Labels: Kotlin, Rust, Testing

#379 Don't generate filter test cases for fields marked with `#[WpContextualOption]`
  wp_api_integration_tests/tests/test_application_passwords_immut.rs
  wp_contextual/src/wp_contextual.rs
Labels: Rust, Testing

#376 Pagination support for `/posts`
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PostsEndpointTest.kt
  wp_api/src/posts.rs
  wp_api/src/request/endpoint/posts_endpoint.rs
  wp_api/src/users.rs
  wp_api_integration_tests/tests/test_posts_err.rs
  wp_api_integration_tests/tests/test_posts_immut.rs
Labels: Kotlin, Rust, Testing

#380 Add Swift Pagination
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/Pagination.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
Labels: Swift

#383 List `/media` endpoint
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MediaEndpointTest.kt
  wp_api/src/api_client.rs
  wp_api/src/lib.rs
  wp_api/src/media.rs
  wp_api/src/plugins.rs
  wp_api/src/posts.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_media_immut.rs
Labels: Kotlin, Rust, Endpoint, Testing

#385 Retrieve `/media` endpoint
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MediaEndpointTest.kt
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api_integration_tests/tests/test_media_immut.rs
Labels: Kotlin, Rust, Endpoint, Testing

#386 Upgrade project to Swift 6
  Dockerfile.swift
  Package.resolved
  Package.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/LoginAPI.swift
  native/swift/Sources/wordpress-api/SafeRequestExecutor.swift
  native/swift/Sources/wordpress-api/URLSession+Linux.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  native/swift/Tests/wordpress-api/Endpoints/Users.swift
  native/swift/Tests/wordpress-api/Foundation+ExtensionsTests.swift
  native/swift/Tests/wordpress-api/HTTPErrorTests.swift
  native/swift/Tests/wordpress-api/LoginTests.swift
  native/swift/Tests/wordpress-api/ParsedUrlTests.swift
  native/swift/Tests/wordpress-api/Support/Extensions.swift
  native/swift/Tests/wordpress-api/Support/HTTPStubs.swift
  native/swift/Tests/wordpress-api/UUIDTests.swift
  native/swift/Tests/wordpress-api/WordPressAPITests.swift
Labels: Swift

#382 Add async Swift Pagination
  Package.resolved
  native/swift/Example/Example.xcodeproj/project.pbxproj
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Example/Example/ListViewModel.swift
  native/swift/Example/Example/UI/ListView.swift
  native/swift/Example/Example/UI/RootListView.swift
  native/swift/Sources/wordpress-api/Pagination.swift
  native/swift/Sources/wordpress-api/SafeRequestExecutor.swift
  native/swift/Tests/wordpress-api/SendableTests.swift
  native/swift/Tests/wordpress-api/Support/Extensions.swift
Labels: Swift

#397 Update `/media` endpoint
  native/kotlin/api/kotlin/build.gradle.kts
  scripts/setup-test-site.sh
  wp_api/src/media.rs
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api_integration_tests/tests/test_media_mut.rs
Labels: Rust, Endpoint, Testing

#395 Export `parse_as_response_type` functions
  native/kotlin/api/kotlin/build.gradle.kts
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ManualParserTest.kt
  wp_derive_request_builder/src/generate.rs
  wp_derive_request_builder/src/generate/helpers_to_generate_tokens.rs
Labels: Rust

#393 [Tooling] Call `use-bot-for-git` in the release script
  .buildkite/pipeline.yml
  .buildkite/release.sh
  .buildkite/shared-pipeline-vars
Labels: Tooling

#409 Add `/media` related errors and their integration tests
  wp_api/src/api_error.rs
  wp_api_integration_tests/tests/test_media_err.rs
  wp_api_integration_tests/tests/test_posts_err.rs
Labels: Rust, Error Handling, Testing

#387 Add Swift Media
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/Pagination.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  native/swift/Tests/wordpress-api/SendableTests.swift
Labels: Swift
