Repository Automattic/wordpress-rs, pull requests merged in 2024-12, with the labels that each got.

#410 Create `/media` endpoint
  Cargo.lock
  native/kotlin/api/kotlin/build.gradle.kts
  native/kotlin/api/kotlin/src/integrationTest/kotlin/IntegrationTestHelpers.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MediaEndpointTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpApiClient.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestExecutor.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestResult.kt
  native/kotlin/build.gradle.kts
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/SafeRequestExecutor.swift
  native/swift/Tests/wordpress-api/Support/HTTPStubs.swift
  test_media.jpg
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/media.rs
  wp_api/src/request.rs
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api_integration_tests/Cargo.toml
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_media_mut.rs
Labels: Kotlin, Rust, Endpoint, Testing

#414 Rework API and app for Sendable and remove Result
  .swiftlint.yml
  Package.resolved
  native/swift/Example/Example.xcodeproj/project.pbxproj
  native/swift/Example/Example/Example.entitlements
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Example/Example/ListViewModel.swift
  native/swift/Example/Example/UI/LoginView.swift
  native/swift/Example/Example/UI/RootListView.swift
  native/swift/Example/Example/WordPressAPI+Extensions.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/LoginAPI.swift
  native/swift/Sources/wordpress-api/Pagination.swift
  native/swift/Sources/wordpress-api/WordPressLoginClientError.swift
  native/swift/Tests/wordpress-api/LoginTests.swift
  native/swift/Tests/wordpress-api/Support/Extensions.swift
Labels: Swift

#417 Add create `/media` related errors and their integration tests
  wp_api/src/api_error.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_media_err.rs
  wp_api_integration_tests/tests/test_media_mut.rs
Labels: Rust, Error Handling, Testing

#438 Pretty print JSON responses for `WpApiError::ResponseParsingError`
  wp_api/src/api_error.rs
  wp_api_integration_tests/src/lib.rs
Labels: Error Handling, Testing

#426 More auto discovery tests
  Cargo.lock
  wp_api/src/login.rs
  wp_api_integration_tests/Cargo.toml
  wp_api_integration_tests/tests/test_login_err.rs
  wp_api_integration_tests/tests/test_login_immut.rs
Labels: Error Handling, Testing, Login

#423 List `/comments` endpoint
  native/kotlin/api/kotlin/src/integrationTest/kotlin/CommentsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MediaEndpointTest.kt
  wp_api/src/api_client.rs
  wp_api/src/comments.rs
  wp_api/src/lib.rs
  wp_api/src/media.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/comments_endpoint.rs
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api_integration_tests/tests/test_comments_immut.rs
  wp_api_integration_tests/tests/test_media_immut.rs
Labels: Kotlin, Rust, Endpoint, Testing

#440 Use `HashMap<UserAvatarSize, WpResponseString>` for user avatar urls
  wp_api/src/comments.rs
  wp_api/src/lib.rs
  wp_api/src/users.rs
  wp_api_integration_tests/tests/test_comments_immut.rs
Labels: Rust, Endpoint, Testing

#442 Retrieve `/comments` endpoint
  native/kotlin/api/kotlin/src/integrationTest/kotlin/CommentsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PostsEndpointTest.kt
  scripts/setup-test-site.sh
  wp_api/src/comments.rs
  wp_api/src/posts.rs
  wp_api/src/request/endpoint/comments_endpoint.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_comments_immut.rs
Labels: Kotlin, Rust, Endpoint, Testing

#446 Delete `/comments` endpoint
  native/kotlin/api/kotlin/src/integrationTest/kotlin/CommentsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/IntegrationTestHelpers.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestResult.kt
  wp_api/src/comments.rs
  wp_api/src/request/endpoint/comments_endpoint.rs
  wp_api_integration_tests/src/backend.rs
  wp_api_integration_tests/tests/test_comments_mut.rs
  wp_api_integration_tests_backend/src/main.rs
  wp_cli/src/lib.rs
  wp_cli/src/wp_cli_comments.rs
  wp_cli/src/wp_cli_posts.rs
Labels: Kotlin, Rust, Endpoint, Testing

#447 Create `/comments` endpoint
  native/kotlin/api/kotlin/src/integrationTest/kotlin/CommentsEndpointTest.kt
  wp_api/src/comments.rs
  wp_api/src/request/endpoint/comments_endpoint.rs
  wp_api_integration_tests/tests/test_comments_mut.rs
Labels: Kotlin, Rust, Endpoint, Testing

#455 Change the ip address for invalid comment author ip error test
  wp_api_integration_tests/tests/test_comments_err.rs
Labels: Rust, Error Handling, Testing

#472 [Tooling] Nightly build notifications only when the build fails
  .buildkite/nightly.yml
Labels: Tooling
