Repository Automattic/wordpress-rs, pull requests merged in 2025-09, with the labels that each got.

#867 Create `/posts/<post_id>/autosaves` endpoint
  wp_api/src/api_client.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/post_autosaves_endpoint.rs
  wp_api_integration_tests/tests/test_post_autosaves_mut.rs
  wp_api_integration_tests/tests/test_posts_autosaves_immut.rs
Labels: Rust, Endpoint

#873 Add Request URL to `WpAppNotifier` Authentication Failure Method
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/EmptyAppNotifier.kt
  native/swift/Sources/wordpress-api/AppNotifier.swift
  native/swift/Tests/wordpress-api/Support/Mocks.swift
  wp_api/src/lib.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_app_notifier_immut.rs
  wp_com_e2e/src/main.rs
  wp_derive_request_builder/src/generate.rs
  wp_rs_cli/src/bin/wp_rs_cli/main.rs
Labels: Swift, Kotlin, Rust

#883 Add `deserialize_empty_array_or_hashmap` serde helper
  wp_api/src/login.rs
  wp_serde_helper/src/lib.rs
Labels: Rust, Testing

#899 Add Kotlin Pages integration tests
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PagesEndpointTest.kt
Labels: Kotlin, Testing

#893 Add Feature Detection
  test-data/api-details/test-case-01.json
  test-data/api-details/test-case-02.json
  test-data/api-details/test-case-03.json
  wp_api/src/lib.rs
  wp_api/src/login.rs
  wp_api/src/login/url_discovery.rs
  wp_serde_helper/src/lib.rs
Labels: Rust, Endpoint, Login

#901 Add support for fetching block editor settings
  native/kotlin/api/kotlin/src/integrationTest/kotlin/IntegrationTestHelpers.kt
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/UserAgent.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  native/swift/Tests/integration-tests/BlockSettingsTests.swift
  scripts/setup-test-site.sh
  wp_api/src/api_client.rs
  wp_api/src/lib.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/wp_block_editor_endpoint.rs
  wp_api/src/wp_block_editor.rs
  wp_api/tests/wp_block_editor/settings/settings-01.json
  wp_api_integration_tests/tests/test_wp_block_editor_immut.rs
Labels: Endpoint

#915 Unify Posts and Pages Endpoints for Custom Post Type Support
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PagesEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PostsEndpointTest.kt
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/Pagination.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  wp_api/src/api_client.rs
  wp_api/src/lib.rs
  wp_api/src/pages.rs
  wp_api/src/posts.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/pages_endpoint.rs
  wp_api/src/request/endpoint/posts_endpoint.rs
  wp_api_integration_tests/src/backend.rs
  wp_api_integration_tests/src/prelude.rs
  wp_api_integration_tests/tests/test_pages_err.rs
  wp_api_integration_tests/tests/test_pages_immut.rs
  wp_api_integration_tests/tests/test_pages_mut.rs
  wp_api_integration_tests/tests/test_posts_err.rs
  wp_api_integration_tests/tests/test_posts_immut.rs
  wp_api_integration_tests/tests/test_posts_mut.rs
  wp_rs_cli/src/bin/wp_rs_cli/main.rs
Labels: Swift, Kotlin, Rust, Endpoint

#920 Add enum to/from string conversion
  native/swift/Sources/wordpress-api/Extensions.swift
  wp_api/src/post_types.rs
  wp_api/src/users.rs
Labels: Swift, Rust

#923 Track implemented endpoints in a markdown document
  WP_REST_API_CHECKLIST.md
Labels: Documentation

#926 `/menus` endpoint
  WP_REST_API_CHECKLIST.md
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  wp_api/src/api_client.rs
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/nav_menus.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/nav_menus_endpoint.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/src/prelude.rs
  wp_api_integration_tests/tests/test_nav_menus_err.rs
  wp_api_integration_tests/tests/test_nav_menus_immut.rs
  wp_api_integration_tests/tests/test_nav_menus_mut.rs
Labels: Rust, Endpoint

#929 `/menu-locations` endpoint
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MenuLocationsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/TestCredentials.kt
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  scripts/setup-test-site.sh
  scripts/test-site-mu-plugins/register-menu-locations.php
  wp_api/src/api_client.rs
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/menu_locations.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/menu_locations_endpoint.rs
  wp_api/src/widgets.rs
  wp_api/src/wp_content_macros.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_menu_locations_err.rs
  wp_api_integration_tests/tests/test_menu_locations_immut.rs
Labels: Kotlin, Rust, Endpoint

#939 `/menu-items` endpoint
  WP_REST_API_CHECKLIST.md
  native/kotlin/api/kotlin/src/integrationTest/kotlin/NavMenuItemsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/TestCredentials.kt
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/Pagination.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  scripts/setup-test-site.sh
  wp_api/src/api_client.rs
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/nav_menu_items.rs
  wp_api/src/posts.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/nav_menu_items_endpoint.rs
  wp_api/src/templates.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_nav_menu_items_err.rs
  wp_api_integration_tests/tests/test_nav_menu_items_immut.rs
  wp_api_integration_tests/tests/test_nav_menu_items_mut.rs
Labels: Kotlin, Rust, Endpoint, Error Handling, Testing
