Repository Automattic/wordpress-rs, pull requests merged in 2025-07, with the labels that each got.

#765 [Tooling] Add localization automation
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  wp_localization/glotpress/en-US.pot
  wp_localization/localization/ar/main.ftl
  wp_localization/localization/az/main.ftl
  wp_localization/localization/bg/main.ftl
  wp_localization/localization/cs/main.ftl
  wp_localization/localization/cy/main.ftl
  wp_localization/localization/da/main.ftl
  wp_localization/localization/de/main.ftl
  wp_localization/localization/el/main.ftl
  wp_localization/localization/en-AU/main.ftl
  wp_localization/localization/en-CA/main.ftl
  wp_localization/localization/en-GB/main.ftl
  wp_localization/localization/es-CL/main.ftl
  wp_localization/localization/es-CO/main.ftl
  wp_localization/localization/es-MX/main.ftl
  wp_localization/localization/es-VE/main.ftl
  wp_localization/localization/es/main.ftl
  wp_localization/localization/eu/main.ftl
  wp_localization/localization/fr-CA/main.ftl
  wp_localization/localization/fr/main.ftl
  wp_localization/localization/gd/main.ftl
  wp_localization/localization/gl/main.ftl
  wp_localization/localization/he/main.ftl
  wp_localization/localization/hi/main.ftl
  wp_localization/localization/hr/main.ftl
  wp_localization/localization/hu/main.ftl
  wp_localization/localization/id/main.ftl
  wp_localization/localization/is/main.ftl
  wp_localization/localization/it/main.ftl
  wp_localization/localization/ja/main.ftl
  wp_localization/localization/kmr/main.ftl
  wp_localization/localization/ko/main.ftl
  wp_localization/localization/lv/main.ftl
  wp_localization/localization/mk/main.ftl
  wp_localization/localization/ms/main.ftl
  wp_localization/localization/nb/main.ftl
  wp_localization/localization/nl/main.ftl
  wp_localization/localization/pl/main.ftl
  wp_localization/localization/pt-BR/main.ftl
  wp_localization/localization/pt/main.ftl
  wp_localization/localization/ro/main.ftl
  wp_localization/localization/ru/main.ftl
  wp_localization/localization/sk/main.ftl
  wp_localization/localization/sq/main.ftl
  wp_localization/localization/sr/main.ftl
  wp_localization/localization/sv/main.ftl
  wp_localization/localization/th/main.ftl
  wp_localization/localization/tr-TR/main.ftl
  wp_localization/localization/uz/main.ftl
  wp_localization/localization/vi/main.ftl
  wp_localization/localization/zh-CN/main.ftl
  wp_localization/localization/zh-HK/main.ftl
  wp_localization/localization/zh-TW/main.ftl
Labels: Tooling

#783 `/widgets` endpoint
  CLAUDE.md
  api.sh
  wp_api/src/api_client.rs
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/widgets_endpoint.rs
  wp_api/src/widget_types.rs
  wp_api/src/widgets.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_widgets_err.rs
  wp_api_integration_tests/tests/test_widgets_immut.rs
  wp_api_integration_tests/tests/test_widgets_mut.rs
Labels: Rust, Endpoint, Error Handling, Testing

#789 Adds delete follower & delete email follower .com endpoints
  wp_api/src/request.rs
  wp_api/src/users.rs
  wp_api/src/wp_com/client.rs
  wp_api/src/wp_com/endpoint.rs
  wp_api/src/wp_com/endpoint/followers_endpoint.rs
  wp_api/src/wp_com/followers.rs
  wp_api/src/wp_com/mod.rs
  wp_api/src/wp_com/subscribers.rs
  wp_derive_request_builder/src/generate/helpers_to_generate_tokens.rs
  wp_serde_helper/src/lib.rs
Labels: Rust, Endpoint

#770 [Tooling] Add Localization sync job
  .buildkite/commands/sync-localization.sh
  .buildkite/nightly.yml
  fastlane/Fastfile
  wp_localization/README.md
Labels: Tooling

#790 [Tooling] Update localization sync to create a PR
  .buildkite/commands/sync-localization.sh
  fastlane/Fastfile
Labels: Tooling, Localization

#785 `/widget-types` endpoint
  CLAUDE.md
  wp_api/src/api_client.rs
  wp_api/src/api_error.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/posts_endpoint.rs
  wp_api/src/request/endpoint/widget_types_endpoint.rs
  wp_api/src/widget_types.rs
  wp_api_integration_tests/tests/test_widget_types_err.rs
  wp_api_integration_tests/tests/test_widget_types_immut.rs
Labels: Rust, Endpoint, Error Handling, Testing

#795 [Tooling] Localization README update
  fastlane/Fastfile
  wp_localization/README.md
Labels: Tooling

#796 Allow empty body for OkHttp `POST` requests
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestExecutor.kt
Labels: Kotlin

#819 Add Android Studio configuration instructions to `README`
  README.md
Labels: Kotlin
