Repository Automattic/wordpress-rs, pull requests merged in 2025-03, with the labels that each got.

#611 [Api Discovery] Try root `/wp-json` if we can't find link header
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
  wp_api/src/request/endpoint.rs
Labels: Rust, Login

#613 Add `ReqwestRequestExecutor` behind `reqwest-request-executor` Cargo feature
  Cargo.lock
  wp_api/Cargo.toml
  wp_api/src/lib.rs
  wp_api/src/reqwest_request_executor.rs
  wp_api_integration_tests/Cargo.toml
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_login_err.rs
  wp_api_integration_tests/tests/test_login_immut.rs
  wp_api_integration_tests/tests/test_manual_request_builder_immut.rs
  wp_api_integration_tests/tests/test_media_err.rs
  wp_api_integration_tests/tests/test_plugin_directory.rs
  wp_api_integration_tests/tests/test_update_checks_immut.rs
Labels: Rust

#585 Add Middleware
  Cargo.lock
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/DebugMiddleware.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpLoginClient.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestExecutor.kt
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/Extensions.swift
  native/swift/Sources/wordpress-api/LoginAPI.swift
  native/swift/Sources/wordpress-api/Middleware.swift
  native/swift/Sources/wordpress-api/SafeRequestExecutor.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  native/swift/Sources/wordpress-api/WordPressOrgApiClient+Extensions.swift
  native/swift/Tests/wordpress-api/Support/HTTPStubs.swift
  wp_api/Cargo.toml
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/login/login_client.rs
  wp_api/src/middleware.rs
  wp_api/src/request.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/reqwest_request_executor.rs
  wp_api/src/wordpress_org/client.rs
  wp_api_integration_tests/tests/test_login_err.rs
  wp_api_integration_tests/tests/test_login_immut.rs
  wp_api_integration_tests/tests/test_media_err.rs
  wp_api_integration_tests/tests/test_plugin_directory.rs
  wp_api_integration_tests/tests/test_update_checks_immut.rs
Labels: Swift, Kotlin, Rust, Login

#614 Process middleware pipeline before mapping `RequestExecutionError`
  wp_api/src/middleware.rs
  wp_api_integration_tests/tests/test_login_immut.rs
Labels: Rust, Testing

#616 Test authentication middleware with incorrect credentials
  wp_api/src/api_error.rs
  wp_api_integration_tests/tests/test_login_err.rs
Labels: Rust, Testing, Login

#622 Update `AutoDiscoveryAttemptFailure` to be `uniffi::Error`
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
Labels: Rust

#626 [Api Discovery] Remove `AutoRemoveWpAdminSuffix` & `AutoRemoveWpLoginSuffix` attempts
  wp_api/src/login/url_discovery.rs
  wp_api_integration_tests/tests/test_login_immut.rs
Labels: Rust, Login

#625 Implement `AutoDiscoveryAttemptFailure::WpError`
  .clippy.toml
  wp_api/src/api_error.rs
  wp_api/src/login.rs
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
  wp_api/src/middleware.rs
  wp_api/src/request.rs
  wp_api/src/unit_test_common.rs
Labels: Rust, Login

#627 Remove `is_wordpress_site` discovery in favor of `ProbablyNotAWordPressSite` error variant
  native/kotlin/api/kotlin/src/integrationTest/kotlin/LocalizationTest.kt
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
  wp_api_integration_tests/tests/test_login_err.rs
  wp_api_integration_tests/tests/test_login_immut.rs
Labels: Kotlin, Rust, Testing, Login

#639 Use `FluentValue` instead of `String` for localization arguments
  wp_api/src/api_error.rs
  wp_api/src/login/url_discovery.rs
  wp_api/src/request.rs
  wp_api/src/uniffi_serde.rs
  wp_api/src/wordpress_org/client.rs
  wp_localization/src/lib.rs
  wp_localization_macro/src/wp_messages.rs
Labels: Rust, Localization

#640 Add `wp_localization_parser` crate to make parsing accessible from other crates
  Cargo.lock
  Cargo.toml
  wp_localization_macro/Cargo.toml
  wp_localization_macro/src/wp_messages.rs
  wp_localization_parser/Cargo.toml
  wp_localization_parser/src/lib.rs
Labels: Rust, Localization
