Repository Automattic/wordpress-rs, pull requests merged in 2025-08, with the labels that each got.

#833 Add `WpContextualExcludeFromFields` attribute
  wp_contextual/Cargo.toml
  wp_contextual/src/lib.rs
  wp_contextual/src/wp_contextual.rs
Labels: Rust

#834 Experiment: Add support for fetch-post to wp_rs_cli
  Cargo.lock
  wp_rs_cli/Cargo.toml
  wp_rs_cli/README.md
  wp_rs_cli/src/bin/wp_rs_cli/main.rs
Labels: Rust

#743 Add Support Tickets + Eligibility endpoints
  Cargo.lock
  Cargo.toml
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/WPComApiClient.swift
  wp_api/src/wp_com/client.rs
  wp_api/src/wp_com/endpoint.rs
  wp_api/src/wp_com/endpoint/support_eligibility_endpoint.rs
  wp_api/src/wp_com/endpoint/support_tickets_endpoint.rs
  wp_api/src/wp_com/mod.rs
  wp_api/src/wp_com/support_eligibility.rs
  wp_api/src/wp_com/support_tickets.rs
  wp_api/tests/wpcom/support_tickets/conversation-list.json
  wp_api/tests/wpcom/support_tickets/single-conversation.json
  wp_com_e2e/Cargo.toml
  wp_com_e2e/src/main.rs
  wp_com_e2e/src/oauth2_tests.rs
  wp_com_e2e/src/support_eligibility_test.rs
  wp_com_e2e/src/support_tickets_test.rs
Labels: Swift, Rust, Endpoint

#853 Category & Tag types conform to pagination protocols
  native/swift/Sources/wordpress-api/Pagination.swift
Labels: Swift

#864 Add `/posts/<post_id>/revisions` related errors and their integration tests
  wp_api/src/api_error.rs
  wp_api_integration_tests/tests/test_post_revisions_err.rs
Labels: Rust, Error Handling, Testing
