Repository Automattic/wordpress-rs, pull requests merged in 2025-05, with the labels that each got.

#716 Introduces `NetworkRequestAccessor` trait
  wp_api/src/request.rs
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api/src/reqwest_request_executor.rs
  wp_api_integration_tests/tests/test_app_notifier_immut.rs
  wp_api_integration_tests/tests/test_login_remote.rs
  wp_api_integration_tests/tests/test_media_err.rs
Labels: Rust

#718 Merge `wp_com` and `jetpack` crates into `wp_api`
  .buildkite/download-xcframework.sh
  Cargo.lock
  Cargo.toml
  Makefile
  fastlane/Fastfile
  jetpack/Cargo.toml
  jetpack/src/endpoint/connection_endpoint.rs
  jetpack/uniffi.toml
  jetpack/wp_derived_request.toml
  scripts/swift-bindings.sh
  wp_api/src/jetpack/client.rs
  wp_api/src/jetpack/connection.rs
  wp_api/src/jetpack/endpoint.rs
  wp_api/src/jetpack/endpoint/connection_endpoint.rs
  wp_api/src/jetpack/mod.rs
  wp_api/src/lib.rs
  wp_api/src/wp_com/client.rs
  wp_api/src/wp_com/endpoint.rs
  wp_api/src/wp_com/endpoint/jetpack_connection_endpoint.rs
  wp_api/src/wp_com/jetpack_connection.rs
  wp_api/src/wp_com/mod.rs
  wp_com/Cargo.toml
  wp_com/uniffi.toml
  wp_com/wp_derived_request.toml
  xcframework/src/main.rs
Labels: Kotlin, Rust

#719 Map api discovery result to a Kotlin sealed class
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ApiUrlDiscoveryTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/ApiDiscoveryResult.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpLoginClient.kt
Labels: Kotlin

#736 Rename CommentStatus::Approve to CommentStatus::Approved
  scripts/setup-test-site.sh
  wp_api/src/comments.rs
  wp_api/src/request/endpoint/comments_endpoint.rs
  wp_api_integration_tests/tests/test_comments_err.rs
  wp_api_integration_tests/tests/test_comments_immut.rs
Labels: Rust

#735 Add WP.com Subscribers Endpoints
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/WPComApiClient.swift
  wp_api/src/api_error.rs
  wp_api/src/wp_com/client.rs
  wp_api/src/wp_com/endpoint.rs
  wp_api/src/wp_com/endpoint/subscribers.rs
  wp_api/src/wp_com/mod.rs
  wp_api/src/wp_com/subscribers.rs
  wp_api/tests/wpcom/subscribers/add-subscriber-response.json
  wp_api/tests/wpcom/subscribers/subscriber-list-not-authorized.json
  wp_api/tests/wpcom/subscribers/subscriber-list.json
  wp_api/tests/wpcom/subscribers/subscriber-stats.json
  wp_api/tests/wpcom/subscribers/subscribers-import-jobs-list.json
  wp_serde_helper/src/wp_serde_date.rs
Labels: Swift, Rust

#720 Update Kotlin to `2.0.21`, AGP to `8.8.1`, Gradle to `8.14`
  native/kotlin/api/kotlin/build.gradle.kts
  native/kotlin/build.gradle.kts
  native/kotlin/example/composeApp/build.gradle.kts
  native/kotlin/example/composeApp/src/androidMain/kotlin/rs/wordpress/example/ui/welcome/WelcomeActivity.kt
  native/kotlin/example/composeApp/src/commonMain/kotlin/rs/wordpress/example/shared/domain/AuthenticatedSite.kt
  native/kotlin/example/composeApp/src/commonMain/kotlin/rs/wordpress/example/shared/repository/AuthenticationRepository.kt
  native/kotlin/example/composeApp/src/commonMain/kotlin/rs/wordpress/example/shared/ui/login/LoginScreen.kt
  native/kotlin/example/composeApp/src/commonMain/kotlin/rs/wordpress/example/shared/ui/plugins/PluginListViewModel.kt
  native/kotlin/example/composeApp/src/commonMain/kotlin/rs/wordpress/example/shared/ui/users/UserListViewModel.kt
  native/kotlin/gradle/libs.versions.toml
  native/kotlin/gradle/wrapper/gradle-wrapper.jar
  native/kotlin/gradle/wrapper/gradle-wrapper.properties
  native/kotlin/gradlew
  native/kotlin/gradlew.bat
  wordpress.Dockerfile
Labels: Kotlin

#737 Add Support Bots Endpoint
  Cargo.lock
  Cargo.toml
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/WPComApiClient.swift
  wp_api/Cargo.toml
  wp_api/src/wp_com/client.rs
  wp_api/src/wp_com/endpoint.rs
  wp_api/src/wp_com/endpoint/support_bots_endpoint.rs
  wp_api/src/wp_com/mod.rs
  wp_api/src/wp_com/support_bots.rs
  wp_api/tests/wpcom/support_bots/add-message-to-conversation-response.json
  wp_api/tests/wpcom/support_bots/converation-list.json
  wp_api/tests/wpcom/support_bots/create-conversation-response.json
  wp_api/tests/wpcom/support_bots/single-conversation.json
  wp_serde_helper/src/wp_serde_date.rs
Labels: Swift, Rust

#707 Introduces `ApiUrlResolver`
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ManualParserTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/JetpackApiClient.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpApiClient.kt
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  wp_api/src/api_client.rs
  wp_api/src/jetpack/client.rs
  wp_api/src/jetpack/connection.rs
  wp_api/src/jetpack/mod.rs
  wp_api/src/login/login_client.rs
  wp_api/src/request.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/application_passwords_endpoint.rs
  wp_api/src/request/endpoint/categories_endpoint.rs
  wp_api/src/request/endpoint/comments_endpoint.rs
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api/src/request/endpoint/plugins_endpoint.rs
  wp_api/src/request/endpoint/post_types_endpoint.rs
  wp_api/src/request/endpoint/posts_endpoint.rs
  wp_api/src/request/endpoint/search_endpoint.rs
  wp_api/src/request/endpoint/site_settings_endpoint.rs
  wp_api/src/request/endpoint/tags_endpoint.rs
  wp_api/src/request/endpoint/templates_endpoint.rs
  wp_api/src/request/endpoint/themes_endpoint.rs
  wp_api/src/request/endpoint/users_endpoint.rs
  wp_api/src/request/endpoint/wp_site_health_tests_endpoint.rs
  wp_api/src/wordpress_org/client.rs
  wp_api/src/wp_com/client.rs
  wp_api/src/wp_com/endpoint.rs
  wp_api/src/wp_com/mod.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_app_notifier_immut.rs
  wp_api_integration_tests/tests/test_manual_request_builder_immut.rs
  wp_api_integration_tests/tests/test_media_err.rs
  wp_api_integration_tests/tests/test_update_checks_immut.rs
  wp_derive_request_builder/src/generate.rs
  wp_derive_request_builder/src/generate/helpers_to_generate_tokens.rs
Labels: Rust

#721 Delete `/templates` endpoint
  scripts/setup-test-site.sh
  wp_api/src/api_error.rs
  wp_api/src/request/endpoint/templates_endpoint.rs
  wp_api/src/templates.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_templates_err.rs
  wp_api_integration_tests/tests/test_templates_mut.rs
Labels: Rust, Endpoint

#749 Publish `wp_api` docs to GitHub Pages
  .github/workflows/publish-docs-to-github-pages.yml
  wp_api/src/login.rs
  wp_api/src/login/url_discovery.rs
  wp_api/src/request.rs
  wp_api/src/wordpress_org/plugin_directory.rs
Labels: Documentation

#745 List `/posts/<parent>/revisions` endpoint
  scripts/setup-test-site.sh
  wp_api/src/api_client.rs
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/post_revisions.rs
  wp_api/src/posts.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/post_revisions_endpoint.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_post_revisions_err.rs
  wp_api_integration_tests/tests/test_post_revisions_immut.rs
  wp_api_integration_tests/tests/test_posts_err.rs
Labels: Rust, Endpoint
