Repository Automattic/wordpress-rs, pull requests merged in 2025-10, with the labels that each got.

#940 `/menu-items/<nav_menu_item_id>/autosaves` endpoint
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  nav_menu_item_autosaves_investigation.md
  nav_menu_item_autosaves_tldr.md
  scripts/setup-test-site.sh
  test_nav_menu_item_autosave_fields.sh
  wp_api/src/api_client.rs
  wp_api/src/lib.rs
  wp_api/src/nav_menu_item_revisions.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/nav_menu_item_autosaves_endpoint.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_nav_menu_item_autosaves_err.rs
  wp_api_integration_tests/tests/test_nav_menu_item_autosaves_immut.rs
  wp_api_integration_tests/tests/test_nav_menu_item_autosaves_mut.rs
  wp_api_integration_tests/tests/test_post_autosaves_mut.rs
Labels: Rust, Endpoint

#941 `/navigation` endpoint
  CLAUDE.md
  native/swift/Example/Example/ExampleApp.swift
  native/swift/Example/Example/ListViewData.swift
  native/swift/Example/Example/UI/RootListView.swift
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  scripts/setup-test-site.sh
  wp_api/src/api_client.rs
  wp_api/src/lib.rs
  wp_api/src/navigations.rs
  wp_api/src/post_revisions.rs
  wp_api/src/posts.rs
  wp_api/src/request/endpoint.rs
  wp_api/src/request/endpoint/navigations_endpoint.rs
  wp_api/src/request/endpoint/posts_endpoint.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_navigations_err.rs
  wp_api_integration_tests/tests/test_navigations_immut.rs
  wp_api_integration_tests/tests/test_navigations_mut.rs
  wp_api_integration_tests/tests/test_pages_mut.rs
  wp_api_integration_tests/tests/test_posts_mut.rs
Labels: Rust, Endpoint, Error Handling, Testing

#945 Remove `ok_or_default helper`
  wp_serde_helper/src/lib.rs
Labels: Rust

#946 Standalone `/navigation` implementation
  native/swift/Example/Example/ListViewData.swift
  wp_api/src/navigations.rs
  wp_api/src/request/endpoint/posts_endpoint.rs
  wp_api_integration_tests/tests/test_navigations_err.rs
  wp_api_integration_tests/tests/test_navigations_immut.rs
  wp_api_integration_tests/tests/test_navigations_mut.rs
Labels: Rust, Endpoint

#948 Add WP.com `/rest/v1.1/me` endpoint
  native/swift/Sources/wordpress-api/WPComApiClient.swift
  wp_api/src/wp_com/client.rs
  wp_api/src/wp_com/endpoint.rs
  wp_api/src/wp_com/endpoint/me_endpoint.rs
  wp_api/src/wp_com/me.rs
  wp_api/src/wp_com/mod.rs
  wp_api/tests/wpcom/me/v1.1-me-01.json
  wp_api/tests/wpcom/me/v1.1-me-02.json
  wp_serde_helper/src/lib.rs
Labels: Swift, Rust, Endpoint
