Repository Automattic/wordpress-rs, pull requests merged in 2025-04, with the labels that each got.

#641 Introduce `wp_localization_validation` crate to validate localization files
  .buildkite/pipeline.yml
  Cargo.lock
  Cargo.toml
  Makefile
  wp_localization_macro/src/wp_messages.rs
  wp_localization_parser/src/lib.rs
  wp_localization_validation/Cargo.toml
  wp_localization_validation/src/ftl_file.rs
  wp_localization_validation/src/main.rs
Labels: Rust, Localization

#647 Change `WpRestApiAuthenticationScheme::endpoints` to be optional
  wp_api/src/login.rs
Labels: Rust, Login

#648 Add `ResponseBodyType` and use it for `FetchAndParseApiRootFailure::ParseApiRoot` identification
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
  wp_api/src/request.rs
Labels: Rust, Login

#652 Simplify uniffi api discovery result
  Cargo.lock
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ApiUrlDiscoveryTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpLoginClient.kt
  wp_api/Cargo.toml
  wp_api/src/api_error.rs
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
Labels: Kotlin, Rust, Login

#655 Extract Kotlin changes from `Add Login Spec` PR
  native/kotlin/api/android/build.gradle.kts
  native/kotlin/api/kotlin/build.gradle.kts
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ApiUrlDiscoveryTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MockRequestExecutor.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpHttpClient.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpLoginClient.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestExecutor.kt
  native/kotlin/build.gradle.kts
  native/kotlin/gradle/libs.versions.toml
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  native/swift/Tests/wordpress-api/Resources/Responses/localhost-json-root.json
  wp_api/src/login.rs
  wp_api/src/parsed_url.rs
  wp_api_integration_tests/tests/test_login_err.rs
Labels: Kotlin, Rust, Login

#661 Extract `ReqwestRequestExecutor` changes from Add Web Tool PR#653
  Cargo.lock
  Cargo.toml
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ApiUrlDiscoveryTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestExecutor.kt
  native/swift/Sources/wordpress-api/Exports.swift
  native/swift/Sources/wordpress-api/SafeRequestExecutor.swift
  native/swift/Tests/wordpress-api/LoginTests.swift
  scripts/swift-bindings.sh
  wp_api/Cargo.toml
  wp_api/src/api_error.rs
  wp_api/src/date.rs
  wp_api/src/reqwest_request_executor.rs
  wp_api/src/ssl.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_login_err.rs
  wp_api_integration_tests/tests/test_login_immut.rs
  wp_api_integration_tests/tests/test_manual_request_builder_immut.rs
  wp_api_integration_tests/tests/test_plugin_directory.rs
  wp_api_integration_tests/tests/test_update_checks_immut.rs
  wp_localization/localization/en-US/main.ftl
  wp_localization/localization/tr-TR/main.ftl
Labels: Rust, Login

#665 Remove CodeQL
  .github/workflows/codeql.yml
Labels: Tooling

#667 Disable request timeout for nightly plugin directory tests
  wp_api_integration_tests/tests/test_plugin_directory.rs
Labels: Rust, Testing

#668 Use Xcode 16.3-v2 image
  .buildkite/shared-pipeline-vars
Labels: Tooling

#666 Login spec tests in Rust
  Cargo.lock
  Cargo.toml
  wp_api/src/lib.rs
  wp_api/src/login.rs
  wp_api/src/login/url_discovery.rs
  wp_api/src/middleware.rs
  wp_api/src/reqwest_request_executor.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/src/mock.rs
  wp_api_integration_tests/tests/test_login_err.rs
  wp_api_integration_tests/tests/test_login_immut.rs
  wp_api_integration_tests/tests/test_login_remote.rs
Labels: Rust, Testing, Login

#678 Adds CLI tool for api discovery
  Cargo.lock
  Cargo.toml
  wp_api/src/reqwest_request_executor.rs
  wp_rs_cli/Cargo.toml
  wp_rs_cli/README.md
  wp_rs_cli/src/bin/wp_rs_cli/main.rs
Labels: Rust, Login

#682 Adds user agent for Rust and Kotlin clients
  Package.resolved
  Package.swift
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MediaEndpointTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpRequestExecutor.kt
  native/swift/Sources/wordpress-api/SafeRequestExecutor.swift
  native/swift/Sources/wordpress-api/UserAgent.swift
  native/swift/Tests/wordpress-api/Support/Extensions.swift
  native/swift/Tests/wordpress-api/UserAgentTests.swift
  scripts/setup-test-site.sh
  wp_api/src/lib.rs
  wp_api/src/request.rs
  wp_api/src/reqwest_request_executor.rs
Labels: Kotlin, Rust

#683 Mark `gmt_offset` & `timezone_string` of `WpApiDetails` as `Option`
  wp_api/src/login.rs
  wp_api/src/login/url_discovery.rs
  wp_rs_cli/src/bin/wp_rs_cli/main.rs
  wp_serde_helper/src/lib.rs
Labels: Rust, Login

#684 Don't allow `None` timeout for `ReqwestRequestExecutor`
  wp_api/src/reqwest_request_executor.rs
  wp_api_integration_tests/tests/test_plugin_directory.rs
  wp_rs_cli/src/bin/wp_rs_cli/main.rs
Labels: Rust, Testing

#690 Adds `application_passwords_authentication_url` field to `AutoDiscoveryAttemptSuccess`
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ApiUrlDiscoveryTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpLoginClient.kt
  native/kotlin/example/composeApp/src/androidMain/kotlin/rs/wordpress/example/ui/welcome/WelcomeActivity.kt
  native/swift/Example/Example/UI/LoginView.swift
  native/swift/Sources/wordpress-api/WordPressLoginClient.swift
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
  wp_rs_cli/src/bin/wp_rs_cli/main.rs
Labels: Swift, Kotlin, Rust, Login

#691 Move all test data to root `test-data` folder
  .cargo/config.toml
  .gitignore
  Package.swift
  native/kotlin/build.gradle.kts
  native/swift/Tests/wordpress-api/Support/HTTPStubs.swift
  test-data/api-details/test-case-01.json
  test-data/api-details/test-case-02.json
  test-data/integration-test-responses/localhost-json-root.json
  test-data/test_media.jpg
  wp_api/src/login.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/src/mock.rs
  wp_api_integration_tests/tests/test_login_remote.rs
Labels: Swift, Kotlin, Rust, Testing

#685 Adds `ParseApiRootFailureReason` with `ServerFatalError` & `WordfenceBlockingAccess` variants
  wp_api/src/login/login_client.rs
  wp_api/src/login/url_discovery.rs
  wp_localization/localization/en-US/main.ftl
Labels: Rust, Login

#695 Introduce `WpApiClientDelegate`
  jetpack/src/client.rs
  jetpack/src/connection.rs
  jetpack/wp_derived_request.toml
  native/kotlin/api/android/src/androidTest/kotlin/rs/wordpress/api/android/UsersEndpointAndroidTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ApplicationPasswordsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/AuthProviderTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/CategoriesEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/CommentsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/IntegrationTestHelpers.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ManualParserTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/MediaEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PluginsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PostTypesEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/PostsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/SearchEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/SiteSettingsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/TagsEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/TaxonomiesEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/ThemesEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/UsersEndpointTest.kt
  native/kotlin/api/kotlin/src/integrationTest/kotlin/WpSiteHealthTestsEndpointTest.kt
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpApiClient.kt
  native/swift/Sources/wordpress-api/JetpackConnectionClient+Extensions.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  wp_api/src/api_client.rs
  wp_api/src/auth.rs
  wp_api/src/lib.rs
  wp_api/src/middleware.rs
  wp_api/src/request.rs
  wp_api/src/request/endpoint/media_endpoint.rs
  wp_api/wp_derived_request.toml
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_auth_provider_immut.rs
  wp_api_integration_tests/tests/test_manual_request_builder_immut.rs
  wp_api_integration_tests/tests/test_media_err.rs
  wp_com/src/client.rs
  wp_com/wp_derived_request.toml
  wp_derive_request_builder/src/generate.rs
Labels: Swift, Kotlin, Rust, Software Design

#701 Update Rust to `1.86.0`
  Makefile
  wp_api/src/api_error.rs
  wp_api/src/middleware.rs
  wp_api/src/parsed_url.rs
Labels: Rust

#693 Introduce `WpAppNotifier`
  jetpack/src/client.rs
  jetpack/src/connection.rs
  native/kotlin/api/kotlin/src/main/kotlin/rs/wordpress/api/kotlin/WpApiClient.kt
  native/swift/Sources/wordpress-api/JetpackConnectionClient+Extensions.swift
  native/swift/Sources/wordpress-api/WordPressAPI.swift
  wp_api/src/api_client.rs
  wp_api/src/api_error.rs
  wp_api/src/lib.rs
  wp_api/src/request.rs
  wp_api_integration_tests/src/lib.rs
  wp_api_integration_tests/tests/test_app_notifier_immut.rs
  wp_api_integration_tests/tests/test_application_passwords_err.rs
  wp_api_integration_tests/tests/test_media_err.rs
  wp_api_integration_tests/tests/test_users_err.rs
  wp_com/src/client.rs
  wp_derive_request_builder/src/generate.rs
Labels: Kotlin, Rust
